[submodule "Bubble/third-party/spdlog"]
	path = Bubble/third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Bubble/third-party/GLFW"]
	path = Bubble/third-party/GLFW
	url = https://github.com/Mistcase/glfw
[submodule "Bubble/third-party/ImGui"]
	path = Bubble/third-party/ImGui
	url = https://github.com/Mistcase/imgui.git
[submodule "Bubble/third-party/glm"]
	path = Bubble/third-party/glm
	url = https://github.com/g-truc/glm.git
